@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Ubuntu&display=swap');
@import url('https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css');

body {
  background-color: #141414;
  font-family: 'Ubuntu', sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
}

header {
  align-items: center;
  display: flex;
  font-size: 1.2rem;
  height: 68px;
  padding: 0 4%;
  position: relative;
  transition: background-color 0.4s;
}

header nav {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.primary-navigation {
  align-items: center;
  display: flex;
  gap: 1rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

.logo {
  color: #e50914;
  cursor: pointer;
  display: inline-block;
  font-size: 2rem;
  font-weight: 900;
  margin-right: 5px;
  vertical-align: middle;
}

.navigation-tab a {
  color: #fff;
}

.shows-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1rem auto;
  gap: 20px;
}

.shows-list div {
  text-align: center;
  border-radius: 10px;
  color: #fff;
  box-shadow: 0 2.4rem 4.8rem rgb(0 0 0 / 8%);
  transition: all 0.4s;
  margin: 10px;
}

.show-container img {
  width: 20rem;
}

.title-like {
  color: #fff;
  margin: 5px;
  text-align: center;
}

.show-title {
  margin: 10px;
  font-weight: 500;
}

.like-wrap {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.comment-btn {
  padding: 0.5rem 1rem;
  outline: none;
  border: none;
  border-radius: 5px;
  font-weight: 600;
}

footer {
  background-color: rgb(117, 111, 111);
  height: 70px;
}

.lower-level {
  background-color: aliceblue;
  height: 70px;
  padding-top: 30px;
  text-align: center;
.popup-display {
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: #ede3e3fc;
  width: 60%;
  height: 100vh;
  margin: auto;
  top: 5px;
  left: 20%;
  position: fixed;
  visibility: hidden;
  overflow: scroll;
}

.showpopup {
  opacity: 1;
  visibility: visible;
  overflow: scroll;
  height: 100vh;
}

.closeBtn {
  position: relative;
  left: 45%;
  top: 5%;
  color: rgb(6, 6, 35);
  font-size: 16px;
  margin: 5px;
  background-color: white;
}

.comment-span {
  display: flex;
  flex-direction: row;
}

.comment-span > p {
  margin-right: 10px;
}

#new-comment {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: auto;
}

form > input {
  margin-bottom: 10px;
  height: 50px;
  border: 1px solid black;
}

.insights {
  height: 100px;
}

.naming {
  height: 50px;
}

.submit-comment {
  width: 20%;
  border: 1px solid black;
  box-shadow: 3px 3px;
}

.classification {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 70%;
}

.popup-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.popup-nav {
  width: 100%;
  background-color: gray;
  text-align: center;
}

.addcomment {
  width: 100%;
  text-align: center;
  align-content: center;
}

.popup-foot {
  width: 100%;
  background-color: gray;
  text-align: center;
  margin-top: 10px;
  height: 2rem;
}
